:root {
    --dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1em;
    padding-block: 0.5em;
    border-bottom: 1px solid var(--dark);

    .logo {
        text-decoration: none;
        color: var(--dark);
        font-weight: bold;
        font-size: 1.5rem;
    }

    .search {
        display: flex;
        border: 1px solid var(--dark);

        .input,
        .button {
            outline: none;
            border: none;
            padding-inline: 1em;
            padding-block: 0.5em;
        }

        .input {
            min-width: 20em;

            &:focus {
                outline: none;
            }
        }

        .button {
            cursor: pointer;
            border-left: 1px solid var(--dark);
            color: var(--dark);

            .icon {
                width: 1em;
                aspect-ratio: 1/1;
            }
        }
    }

    .menu {
        cursor: pointer;
        color: var(--dark);

        .icon {
            width: 1.75em;
            aspect-ratio: 1/1;
        }

        .icon.hover--hide {
            display: block;
        }

        .icon.hover--show {
            display: none;
        }

        &:hover {
            .icon.hover--hide {
                display: none
            }

            .icon.hover--show {
                display: block;
            }
        }
    }
}

.main {
    padding: 1em;


    .videos-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1em;

        .video {
            padding: 0.5em;
            border-radius: 0.5em;
            text-decoration: none;
            color: var(--dark);
            display: grid;
            gap: 0.5em;

            &:hover {
                background-color: lightgrey;
            }

            .thumbnail {
                display: grid;
                aspect-ratio: 16/9;
                border-radius: 0.25em;
                background-color: var(--dark);
            }

            .title {
                font-weight: 400;
            }
        }
    }
}
