PORT=:3000

RABBIT_CONNECTION_STR=amqp://guest:guest@localhost:5672
RABBIT_QUEUE_NAME=sylvie:transcode

JSON_DB_FILE_PATH=tmp/db.json
STORAGE_DIR=tmp

FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe
