package pages

import "sylvie/internal/http/views/layouts"
import "sylvie/internal/http/views/components"

templ HomePage() {
	@layouts.Root() {
		<div>
			@components.Header()
			<main class="main">
				<h1>hello world</h1>
			</main>
		</div>
	}
}
